In [10]:
def print_names(nam):
    nam[1]="Abdulrazak"
    print(nam)
    
    
name=['Abdikafi','Maxamed','Mohamed',"Abdirahman",'Yahye','Abdulawwal','Sayid Ali','Abdulkadir']
print_names(name)
print(name)

['Abdikafi', 'Abdulrazak', 'Mohamed', 'Abdirahman', 'Yahye', 'Abdulawwal', 'Sayid Ali', 'Abdulkadir']
['Abdikafi', 'Abdulrazak', 'Mohamed', 'Abdirahman', 'Yahye', 'Abdulawwal', 'Sayid Ali', 'Abdulkadir']

In [11]:
def daabac_Magac(nam):
    nam=["Ali","Farah","Geedi","Warsame","Muriidi"]
    print(nam)
    
    
name=['Abdikafi','Maxamed','Mohamed',"Abdirahman",'Yahye','Abdulawwal','Sayid Ali','Abdulkadir']
daabac_Magac(name)
print(name)

['Ali', 'Farah', 'Geedi', 'Warsame', 'Muriidi']
['Abdikafi', 'Maxamed', 'Mohamed', 'Abdirahman', 'Yahye', 'Abdulawwal', 'Sayid Ali', 'Abdulkadir']

In [12]:
def calculate():
    """
    this function returns the multiplication of a * b.
    """
    a = 54
    b = 10
    return a*b

In [13]:
calculate()

540

In [36]:
mul = lambda a, b : a *b
print(mul(54,10))

540

In [15]:
def iidaabac(str):
    print(str)

In [17]:
iidaabac("My lactures name is Abdirizak")

My lactures name is Abdirizak

## keyward argument

In [20]:
def myinfo(name,age,phone):
    phone = '061767676xxx'
    print(name,age,phone)

In [21]:
myinfo(name="abdulrazak", age=31, phone="+252618976578")

abdulrazak 31 061767676xxx

## default argument

In [24]:
def me(name='dasar',age=67,phone='25261697'):
    print(name,age,phone)

In [28]:
me()
me('zahra')
me('ali',12)
me()

dasar 67 25261697
zahra 67 25261697
540 12 25261697

##  variable lengeth arguments

In [31]:
def tikainfo(arg, *tuples):
    print(arg)
    for v in tuples:
        print(v)

In [32]:
tikainfo(5)
tikainfo(2,4,7)

5
2
4
7