# Lists

To create a list, just put all the values inside square brackets and separate the values by commas.

In [4]:
C = [ 1, "Ali", 3.7, 4.7j, 3, 190, "hello python Lists", -90]
print(C)

[1, 'Ali', 3.7, 4.7j, 3, 190, 'hello python Lists', -90]

The variable "C" now referes to a list object holding 8 list elements. Every element in a list is associated with an index which reflects the position of the element in the list. If you want to access the first element of the list object, you can use an index 0, for example C[0] refers to 1 while C[1] refers to "Ali".

**Accessing values in a list**

In [5]:
print(C[0])  #refers to 1 values in the list
print(C[1])  # refers to 'Ali' values in the list
print(C[0:4])  # between 0 to the 4th values in the list
print(C[-1], C[-2])  # negative values allows you to read the data from the last values.

1
Ali
[1, 'Ali', 3.7, 4.7j]
-90 hello python Lists

- you can list of number by using range function in python.

In [6]:
N = list(range(1,10))
print(N)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
N = list(range(1,10,2))
print(N)

[1, 3, 5, 7, 9]

### Basic operations of List

**Updating element in a list**

In [8]:
print(C)
C[0] = 3          #mutuable 
print(C)

[1, 'Ali', 3.7, 4.7j, 3, 190, 'hello python Lists', -90]
[3, 'Ali', 3.7, 4.7j, 3, 190, 'hello python Lists', -90]

**List Operations**

In [10]:
A = [1, 45, 'Sadik', 'IQ', -90]
print (len(A))       #prints the length of the List.
print(A + A)         #concatenates the two list
print(A*3)
print(A*4)      #Repeates the values in the list three times, or four time and so forth.
print('Sadik' in A)  #return True if the value "Sadik" is in the list A, memebership operators.

5
[1, 45, 'Sadik', 'IQ', -90, 1, 45, 'Sadik', 'IQ', -90]
[1, 45, 'Sadik', 'IQ', -90, 1, 45, 'Sadik', 'IQ', -90, 1, 45, 'Sadik', 'IQ', -90]
[1, 45, 'Sadik', 'IQ', -90, 1, 45, 'Sadik', 'IQ', -90, 1, 45, 'Sadik', 'IQ', -90, 1, 45, 'Sadik', 'IQ', -90]
True

In [72]:
for v in A:                    #iterations and memebership operators..
    print(v, end=' ')

1 45 Sadik IQ -90

**Indexing, slicing and Matrix**

In [73]:
L =['C++', 'JAVA', 'Python']
print(L[1])          #returns the 2nd element in the list which is 'JAVA'.
print(L[-1])          #returns the last element of the list.
print(L[1:])          #slicing fetches sections. returns al the elements after 1.

JAVA
Python
['JAVA', 'Python']

**Built in List Functionn**

In [11]:
M = [12, 23, 10, 900, -1, 4, -2, -89]
print(len(M))   #return the length of the list.
print(max(M))   #return the maximum value in the list.
print(min(M))   #returns the minimum value in the list.

8
900
-89

**Built in List Methods**

In [13]:
X = [12, 32, -0.9, -12, 23, -32, 12, -12, 12]
print(X)

[12, 32, -0.9, -12, 23, -32, 12, -12, 12]

list.append(obj): appends a new object to list.

In [14]:
X.append(-20)
print(X)

[12, 32, -0.9, -12, 23, -32, 12, -12, 12, -20]

list.count(obj): counts the number of occurencies of the object in the list.'

In [16]:
print(X.count(12))

3

In [62]:
print('extends the list with the passed objects')
X.extend([23, 12])
print(X)

extends the list with the passed objects
[12, 32, -0.9, -12, 23, -32, 12, -12, 12, -20, 23, 12]

In [17]:
print('return the index of a given object in the list')
print(X.index(12), X.index(-0.9))

return the index of a given object in the list
0 2

In [18]:
print('inserts a new element to a specified position in the list.')
X.insert(9, 'sacdiyo')
print(X)

inserts a new element to a specified position in the list.
[12, 32, -0.9, -12, 23, -32, 12, -12, 12, 'sacdiyo', -20]

In [19]:
print('removes and returns the last object of the list or specified index')
print(X)
print(X.pop(0)) 
print(X)

removes and returns the last object of the list or specified index
[12, 32, -0.9, -12, 23, -32, 12, -12, 12, 'sacdiyo', -20]
12
[32, -0.9, -12, 23, -32, 12, -12, 12, 'sacdiyo', -20]

In [51]:
print('removes the object from the list')
X.remove(23)
print(X)

[32, -0.9, -12, -32, 12, -12, 12, 23, -20, 23, 12]

In [20]:
print('Reverses objects of list in place')
X.reverse()
print(X)

Reverses objects of list in place
[-20, 'sacdiyo', 12, -12, 12, -32, 23, -12, -0.9, 32]

Del statement: removes an element from a specific index.

In [22]:
print(X)
del X[1]
print('the second object in the list was removed!')
print(X)

[-20, 'sacdiyo', 12, -12, 12, -32, 23, -12, -0.9, 32]
the second object in the list was removed!
[-20, 12, -12, 12, -32, 23, -12, -0.9, 32]

#### List comprehension

In [23]:
P = [12, 21, 11, 22, 32]
L = [2*r for r in P]
print(P)
print(L)
S = [ s*s for s in P]
print(S)

[12, 21, 11, 22, 32]
[24, 42, 22, 44, 64]
[144, 441, 121, 484, 1024]

In [81]:
X = [12, 21, 11, 22, 32]
Y = [10, 21, 2, 3, 4]
L = [x*y for x,y in  zip(X,Y)]
print(X)
print(Y)
print(L)

[12, 21, 11, 22, 32]
[10, 21, 2, 3, 4]
[120, 441, 22, 66, 128]

In [24]:
X = [12, 21, 11, 22, 32]
Y = [10, 21, 2, 3, 4]
L=[]
for  x in X:
    for y in Y:
        L.append(x*y)
print(L)

[120, 252, 24, 36, 48, 210, 441, 42, 63, 84, 110, 231, 22, 33, 44, 220, 462, 44, 66, 88, 320, 672, 64, 96, 128]

### Nested Lists

Lists of list are also known as **Nested Lists** or **two dimensional Lists**.

In [26]:
L = [ 
       [
           [1, 2, 3, 4, 5],
           [2, 3, 4, 2, 2], 
           [2, 3, 4, 2, 2] 
                              ],
       [
           [1, 2, 3, 4, 5], 
           [2, 3, 4, 2, 2], 
           [2, 3, 4, 2, 2] 
                                ],
    
                                            ]

In [27]:
print(L)

[[[1, 2, 3, 4, 5], [2, 3, 4, 2, 2], [2, 3, 4, 2, 2]], [[1, 2, 3, 4, 5], [2, 3, 4, 2, 2], [2, 3, 4, 2, 2]]]

In [ ]:
2X3X5